<div class="container col-md-6">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <h3>Agregar Servicio</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="distancia">Distancia en km</label>
          <input [(ngModel)]="servicio.distanciaKm" name="distancia" type="number" class="form-control">
        </div>
        <div class="form-group">
          <label for="direccionInicial">Dirección inicial</label>
          <input [(ngModel)]="servicio.direccionInicial" name="direccionInicial" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="direccionFInal">Dirección destino</label>
          <input [(ngModel)]="servicio.direccionFinal" name="direccionFInal" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="municipioFinal">Municipio destino</label>
          <input [(ngModel)]="servicio.municipioFinal" name="municipioFinal" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="objVehiculo">Vehículo que realizará el transporte</label>
          <select id="selectVehiculo" name="objVehiculo" [(ngModel)]="vehiculo.idVehiculo" class="form-control">
            <option *ngFor="let vehiculo of listVehiculo"  value = {{vehiculo.idVehiculo}} >
               {{vehiculo.placa}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="objVehiculo">Conductor</label>
          <select id="selectConductor" name="objConductor" [(ngModel)]="conductor.id" class="form-control">
            <option *ngFor="let conductor of listConductor"  value = {{conductor.id}} >
               {{conductor.cedula}} - {{conductor.primerNombre}}  {{conductor.segundoNombre}} {{conductor.primerApellido}} {{conductor.segundoApellido}}
            </option>
          </select>
        </div>
        <div class="form-group">
            <label for="totalServ">El total del servicio se calculará según las opciones seleccionadas</label>
            <!--<input [(ngModel)]="servicio.totalServ" name="totalServ" type="number" class="form-control">
            <button (click)="guardarServicio(servicio)" class="btn btn-danger">Agregar</button>-->
          </div>
        <div class="center">
          <button (click)="guardarServicio(servicio)" class="btn btn-danger">Agregar</button>
        </div>
      </form>

    </div>
  </div>
</div>
