<div class="container">

  <div class="containter" style="padding: 10px">
    <button (click)="guardarServicio()"  class="btn btn-info">Nuevo</button>
  </div>

  <div class="card">
    <div class="card-header" class="text-center">
      <h3>Vehículos</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Distancia en km</th>
            <th>Dirección inicial</th>
            <th>Direccion final</th>
            <th>Municipio destino</th>
            <th>Total servicio</th>
            <th>Vehiculo asociado</th>
            <th>Conductor asociado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of listServicio" class="text-center">
            <td>{{servicio.distanciaKm}}</td>
            <td>{{servicio.direccionInicial}}</td>
            <td>{{servicio.direccionFinal}}</td>
            <td>{{servicio.municipioFinal}}</td>
            <td>{{servicio.totalServ}}</td>
            <td>{{servicio.vehiculo}}</td>
            <td>
              <button (click)="editarVehiculo(vehiculo)"  class="btn btn-warning" style="margin-right: 10px">

                Editar</button>
              <button (click)="eliminarVehiculo(vehiculo)" class="btn btn-danger">Eliminar </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

